<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chatbot Interactivo</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

   <script src="/js/chatbot.js" th:src="@{/js/chatbot.js}"></script>

    <script src="webjars/jquery/3.2.0/jquery.min.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center">
    <div th:fragment="chatbot" class="chatbot-container ">
        <div >
            <div class="w-96 bg-white border border-gray-300 rounded-lg shadow-lg overflow-hidden">
                <div class="header p-3 flex justify-between items-center bg-gray-200 cursor-pointer" style="height: 60px;" onclick="toggleChat()">
                    <span class="font-bold">Chatbot</span>
                    <span id="toggleIcon" class="material-symbols-outlined">web_asset</span>


                </div>
                <div class="chat-content" style="display: none;">
                    <div class="overflow-y-auto p-3" id="chatBox" style="height: 240px;">
                        <!-- Mensajes aparecerán aquí -->
                    </div>
                    <div class="input-group px-3 pb-3 pt-0 flex">
                        <input type="text" id="userInput" placeholder="Escribe tu mensaje aquí..." class="form-input flex-1 border-gray-300 p-2 rounded-l-md focus:border-blue-500 focus:ring-0"/>
                        <button onclick="sendMessage()" class="bg-blue-500 hover:bg-blue-600 text-white font-bold p-2 rounded-r-md">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
