<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Clinicas Comunales</title>
</head>
<body>
    <h1>Clinicas Comunales</h1>
    <form action="#" th:action="@{/clinicas}" method="get">
        <input type="text" name="municipio" placeholder="Buscar por municipio"/>
        <button type="submit">Buscar</button>
    </form>
    <div>
        <ul>
            <li th:each="clinica : ${clinicas}">
                <span th:text="${clinica.nombre}">Nombre de la Clínica</span>,
                <span th:text="${clinica.direccion}">Dirección</span>,
                <span th:text="${clinica.municipio}">Municipio</span>
            </li>
        </ul>
    </div>
</body>
</html>
