<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Geoportal Centros de Asistencia Médica</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="/css/main.css"
	th:href="@{/webjars/leaflet/1.0.3/leaflet.css}" />
    <script src="/js/chatbot.js" th:src="@{/js/chatbot.js}"></script>
    <script type="text/javascript" src="/webjars/leaflet/1.0.3/leaflet.js"
        th:src="@{/webjars/leaflet/1.0.3/leaflet.js}"></script>
        <link rel="stylesheet" type="text/css"
        href="webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}" />
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
    <style type="text/css">
    .container-full {
        position: absolute;
        bottom: 0px;
        top: 50px;
        width: 100%;
        z-index: 10;
        overflow: auto;
    }


    #mapid {
        height: 80%;
        width: 100%;
    }
    
    .navbar {
        z-index: 10000;
    }
  
    </style>
</head>

<body class="bg-gray-100">
 
    <nav class="bg-white shadow-lg">
        <div class="px-4 mx-auto">
            <div class="flex justify-between">
                <div class="flex space-x-2">
                    <!-- logo -->
                    <div>
                        <a href="#" class="flex items-center py-3 px-2 text-gray-700 hover:text-gray-900">
                            <span class="font-bold">Geoportal Centros de Asistencia Médica</span>
                        </a>
                    </div>
                    <!-- primary nav -->
                    <div class="hidden md:flex items-center space-x-1">
                        <a th:href="@{/map/index}" class="py-3 px-3 text-gray-700 hover:text-gray-900">Clinicas Comunales</a>
                        <a th:href="@{/map/personas}" class="py-3 px-3 text-gray-700 hover:text-gray-900">Unidades Médicas</a>
                    </div>
                </div>
                <!-- secondary nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <div th:replace="index::logout"></div>
                </div>
                <!-- mobile button goes here -->
                <div class="md:hidden flex items-center">
                    <button class="mobile-menu-button">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- mobile menu -->
        <div class="mobile-menu hidden md:hidden">
            <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-200">Clinicas Comunales</a>
            <a th:href="@{/map/personas}" class="block py-2 px-4 text-sm hover:bg-gray-200">Unidades Médicas</a>
        </div>
    </nav>
 
    <div class="container-full" >
		<div id="mapid"></div>
        <div class="mt-2 bg-white p-6 rounded-lg shadow-md">
            <h1 class="text-xl font-bold text-center mb-4">Unidades Médicas</h1>
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-700 text-white">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            #
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            Nombre
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            Direccion
                        </th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
                            Municipio
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    <th:block th:each="centro, row : ${centros}">
                        <tr th:each="v : ${centro}">
                            <td th:text="${v.id}" class="px-6 py-4 whitespace-nowrap"></td>
                            <td th:text="${v.nombre}" class="px-6 py-4 whitespace-nowrap"></td>
                            <td th:text="${v.direccion}" class="px-6 py-4 whitespace-nowrap"></td>
                            <td th:text="${v.municipio}" class="px-6 py-4 whitespace-nowrap"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table> 
        </div>
       
</div>
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="GeoAgente"
  agent-id="918c7b00-fc13-47e3-84c6-41fd9dff493e"
  language-code="es"
></df-messenger>

    <a href="/index" th:href="@{/map/index}" class="text-blue-500 hover:text-blue-700">Back to home page</a>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = [[@{/}]];
        var model_map = [[${model.map}]];
        var clinicasComunales = [[${centros}]];
        var mymap = L.map('mapid').setView([13.693399179677684,-89.21802884256014], 13);
        new L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom : 19
        }).addTo(mymap);
        mymap.on('zoomend', updateLeafletMap, mymap);
        mymap.on('moveend', updateLeafletMap, mymap);

        clinicasComunales.forEach(element => L.marker([element.coorY, element.coorX]).addTo(mymap).bindPopup(`<h5>${element.nombre}</h5>`) );

        console.log(clinicasComunales);
        function updateLeafletMap(ev){
            var map = this;
            var form_data = new FormData();
            
            form_data.append('zoom', map.getZoom());
            form_data.append('baseLayer', model_map.baseLayer);
            form_data.append('centerX', map.getCenter().lng);
            form_data.append('centerY', map.getCenter().lat);
            form_data.append('id', model_map.id);

            $.ajax({
                url: serverContext + 'map/update',
                data: form_data,
                processData: false,
                contentType: false,
                type: 'POST',
                success: function(data){
                    console.log(data);
                }
            });
        }
        /*]]>*/
    </script>

    <script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js" th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
   
</body>

</html>
